<section>
<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Color:</strong>
  <span style="background-color:<%=@status.color%>">
    <%= @status.color %>
  </span>
</p>

<p>
  <strong>Description:</strong>
  <%= @status.description %>
</p>

<h2>Associated Projects</h2>
<p>
<ul>
  <% @status.project.each do |p| %>
    <li><%= link_to p.name, p%></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
</section>
