<section class="wrapper">
<ul class="project-list">
  <% Project.all.each do |p| %>
    <li class="block" style="background-color:<%= p.status.color %>">
      <%= link_to p do %>
        <div class="project-list-item">
          <%= p.name %>: <%= p.status.name %>
          <div>
          <% end %>
    </li>
  <% end %>
</ul>
</section>
<section>
  <hr>
  <%=link_to 'New Project', new_project_path, class: 'button'%>
  <%=link_to '(Statuses)', statuses_path%>
</section>
